<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='/styles/style.css') }}">
    <title>Login</title>
</head>
<body>

    <div class="">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <h1>Recipe Share</h1>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-3 col-sm-2 ">
                <form action="/new_account" method="POST" class="bg-info bg-gradient text-center pb-2">
                    <h2 class="text-center">Register</h2>
                    {% with messages = get_flashed_messages(category_filter=['register']) %}     
                        {% if messages %}                            
                            {% for message in messages %}            
                            <p>{{message}}</p>                   
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <div class="row d-flex justify-content-center">
                        <label>First Name:</label>
                        <input type="text" name="first_name" class="col-lg-6 col-sm-4"> 
                    </div>
                    <div class="row d-flex justify-content-center">
                        <label>Last Name:</label>
                        <input type="text" name="last_name" class="col-lg-6 col-sm-4"> 
                    </div>
                    <div class="row d-flex justify-content-center">
                        <label>Email:</label>
                        <input type="text" name="email" class="col-lg-6 col-sm-4"> 
                    </div>
                    <div class="row d-flex justify-content-center">
                        <label>Password:</label>
                        <input type="text" name="password" class="col-lg-6 col-sm-4"> 
                    </div>
                    <div class="row d-flex justify-content-center">
                        <label for="confirm_password">Confirm Password:</label>
                        <input type="text" name="confirm_password" class="col-lg-6 col-sm-4"> 
                    </div>
                    <button class="btn btn-danger mt-2" type="submit">Register</button>
                </form>
            </div>
            <div class="col-lg-3 col-sm-2">
                <form action="/signing_in" method="POST" class="bg-info bg-gradient text-center">
                    <h2 class="text-center">Sign In</h2>
                    {% with messages = get_flashed_messages(category_filter=['sign_in']) %}     
                        {% if messages %}                            
                            {% for message in messages %}            
                            <p>{{message}}</p>                   
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <div class="row d-flex justify-content-center">
                        <label for="email">Email:</label>
                        <input type="text" name="email" class="col-lg-6 col-sm-4"> 
                    </div>
                    <div class="row d-flex justify-content-center">
                        <label for="password">Password:</label>
                        <input type="text" name="password" class="col-lg-6 col-sm-4"> 
                    </div>
                    <button type="submit" class="btn btn-primary mt-2">Sign in</button>
                </form>
            </div>
        </div>

    </div>

</body>
</html>